.first{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.modal{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;

}

.form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
   background-color: whitesmoke;
   
}